<!-- 微信聊天模块 -->
<div class="wechat-module">
    <div class="wechat-icon">
        <i class="fab fa-weixin"></i>
    </div>
    
    <div class="wechat-dropdown">
        <!-- APP下载 -->
        <div class="wechat-item">
            <i class="fas fa-download"></i>
            <span>APP下载</span>
            <div class="qrcode-popup">
                <div class="qrcode-container">
                    <div class="qrcode-image">
                        <!-- 安卓APP二维码 -->
                        <img src="/images/logo.png" alt="安卓APP下载" class="qrcode-image">
                        <p class="qrcode-text">安卓APP下载</p>
                    </div>
                    <div class="qrcode-image">
                        <!-- 苹果APP二维码 -->
                        <img src="/images/logo.png" alt="苹果APP下载" class="qrcode-image">
                        <p class="qrcode-text">苹果APP下载</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 公众号 -->
        <div class="wechat-item">
            <i class="fab fa-weixin"></i>
            <span>公众号</span>
            <div class="qrcode-popup">
                <div class="qrcode-container">
                    <div class="qrcode-image">
                        <img src="/images/logo.png" alt="公众号" class="qrcode-image">
                        <p class="qrcode-text">公众号</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 小程序 -->
        <div class="wechat-item">
            <i class="fas fa-mobile-alt"></i>
            <span>小程序</span>
            <div class="qrcode-popup">
                <div class="qrcode-container">
                    <div class="qrcode-image">
                        <img src="/images/logo.png" alt="小程序" class="qrcode-image">
                        <p class="qrcode-text">小程序</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 在线客服 -->
        <div class="wechat-item">
            <i class="fas fa-headset"></i>
            <span>在线客服</span>
        </div>
        
        <!-- 回到顶部 -->
        <div class="back-to-top-btn">
            <i class="fas fa-arrow-up"></i>
            <span>回到顶部</span>
        </div>
    </div>
</div>